R Basics with Jupyter NotebookÂ¶
Objectives After completing this lab you will be able to:

Understand the sample dataset Create variables and perform basic math operations Perform basic strings operations

About the Dataset 
Which movie should you watch next?

Let's say each of your friends tells you their favorite movies. You do some 
research on the movies and put it all into a table. Now you can begin exploring
the dataset, and asking questions about the movies. For example, you can check
if movies from some certain genres tend to get better ratings. You can check 
how the production cost for movies changes across years, and much more.

Movies dataset

The table gathered includes one row for each movie, with several columns for 
each movie characteristic:

name - Name of the movie
year - Year the movie was released
length_min - Length of the movie (minutes)
genre - Genre of the movie
average_rating - Average rating on IMDB
cost_millions - Movie's production cost (millions in USD)
foreign - Is the movie foreign (1) or domestic (0)?
age_restriction - Age restriction for the

Let's say you want to watch Fight Club and Star Wars: Episode IV (1977), back-to-back. Do you have enough time to watch both movies in 4 hours? Let's try using simple math in R.

What is the total movie length for Fight Club and Star Wars (1977)?

Fight Club: 139 min
Star Wars: Episode IV: 121 min

In [1]:
139+121

[1] 260

What is 260 min in hours?

In [2]:
260/60

[1] 4.333333

Variables in R 
We can also store our output in variables, so we can use them later on. For example:

In [3]:
x <- 121+139

To return the value of x, we can simply run the variable as a command:

In [4]:
x

[1] 260

You can check its variable type using class() function

In [5]:
class(x)

[1] "numeric"

And cast the type of x to character

In [6]:
x_char <- as.character(x)
class(x_char)

[1] "character"

And cast it back to numeric

In [7]:
x_num <- as.numeric(x_char)
class(x_num)

[1] "numeric"

We can also perform operations on x and save the result to a new variable:

In [8]:
y<- x/60
y

[1] 4.333333

It's good practice to use meaningful variable names, so you don't have to
keep track of what variable is what:

In [9]:
total <- 139+121
total

[1] 260

In [10]:
total_hrs <- total/60
total_hrs

[1] 4.333333

You can put this all into a single expression, but remember to use round
brackets to add together the movie lengths first, before dividing by 60.

In [11]:
total_hr<- (139+121)/60
total_hr

[1] 4.333333

Coding Exercise: in the code cell below, calculate how much longer is 139 minutes comparing to 121 minutes, in seconds

In [12]:
diff_seconds <- (139-121)*60
diff_seconds

[1] 1080

Strings in R
R isn't just about numbers -- we can also have strings too. For example:

In [13]:
movie <- "Toy Story"
movie

[1] "Toy Story"

In R, you can identify character strings when they are wrapped with matching 
double (") or single (') quotes.

You can also check its class using class() function

In [14]:
class(movie)

[1] "character"

If you try to cast it into numeric, R will give you an error because 
'Toy Story' is not number

In [15]:
as.numeric(movie)

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

[1] NA